%font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

%plain-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
}

%inline-list {
  @extend %plain-list;
  
  li {
    display: inline;
  }
}

%clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

// all the centered elements
@mixin centered-element($width:$row-width) {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 $column-gutter/2 1.2rem;
  width: $width;
}

//block area spacing
@mixin block-area-spacing($centered:false) {
  @if ($centered) {
    margin: 2em auto 0;
  } @else {
    margin: 2em 0 0;    
  }
  padding: 1em 0 2em;
}

// Triangles

%all-triangles {
  height: 0; 
  width: 0; 
}

@mixin triangle-up($color, $size:1em) {
  @extend %all-triangles;

  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
}

@mixin triangle-down($color, $size:1em) {
  @extend %all-triangles;
  
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
}

@mixin triangle-right($color, $size:1em) {
  @extend %all-triangles;
  
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: $size solid $color;
}

@mixin triangle-left($color, $size:1em) {
  @extend %all-triangles;
  
  border-top: $size solid transparent;
  border-bottom: $size solid transparent; 
  border-right: $size solid $color; 
}
