// Typography

$body-font-family: "ff-dagny-web-pro", sans-serif;
$body-font-size: 1rem;
$body-line-height: 1.2rem;
$body-font-weight: 400 !default;

$heading-font-family: $body-font-family;
$heading-font-weight: 700 !default;

$accent-font-family: "ff-tisa-web-pro", serif;
$accent-font-weight: 400 !default;

$header-size-hand: (
  h1: rem-calc(22),
  h2: 1rem,
  h3: 1.17rem,
  h4: 1rem,
  h5: .83rem,
  h6: .75rem
);

$header-size-desk: (
  // h1: rem-calc(48),
  h1: rem-calc(40),
  h2: rem-calc(36),
  h3: 1.17rem,
  h4: 1rem,
  h5: .83rem,
  h6: .75rem
);

$header-margin: (
  h1: $body-line-height 0,
  h2: $body-line-height/2 0,
  h3: $body-line-height/2 0,
  h4: $body-line-height/2 0,
  h5: $body-line-height/2 0,
  h6: $body-line-height/2 0
);

$default-color: #000 !default;

// Addresses margins handled incorrectly in IE6/7

html {
  font-size: 18px;

  @media #{$wall-up} {
    // font-size: 1.333vw;
    font-size: 22px;
  }
}

body {
  color: $default-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

@each $h in h1, h2, h3, h4, h5, h6 {
  #{$h} {
    @extend %font-smoothing;
    
    @if $h == h1 {
      line-height: $body-line-height*2;
    }
    font-family: $heading-font-family;
    font-size: map-get($header-size-hand, #{$h});
    font-weight: $heading-font-weight;
    margin: map-get($header-margin, #{$h});

    @media #{$desk-up} {
      @if $h == h1 {
        line-height: $body-line-height*3;
      }
      font-family: $heading-font-family;
      font-size: map-get($header-size-desk, #{$h});
      font-weight: $heading-font-weight;
      margin: map-get($header-margin, #{$h});      
    }
  }
}

p,
ul,
ol,
blockquote {
  margin-bottom: $body-line-height;
  margin-top: 0;
}

// you only need this for sites with fixed headers
// tricks the page into scrolling your anchor links below the height of the fixed header
%jump-link-dest {
  &:before {
    content: ' ';
    display: block; 
    // these two should be the height of the fixed header plus whatever padding you want
    height: $body-line-height*6; 
    margin-top: -($body-line-height*6); 
    visibility: hidden;       
  }
}

