{#
The home page.

To keep this page tidy, all sections are included from separate files in the components directory.
#}
{% extends 'layouts/base.html' %}

{% block head %}
<meta name="description"
    content="Richmond's Python Community. PyRVA is a friendly and diverse community of Python enthusiasts, from beginners to seasoned professionals. Join us for engaging talks, hands-on workshops, and networking opportunities that help you grow your skills and connect with fellow coders.">
{% endblock %}

{% block content %}
{% include 'components/hero.html' %}
{% include 'components/about_pyrva.html' %}
{% include 'components/organizers.html' %}
{% include 'components/community.html' %}
{% include 'components/sponsor_pricing.html' %}
{% include 'components/sponsor_list.html' %}
{% include 'components/faq.html' %}
{% endblock %}
