// Global Partials //
@import '../global/rem-calc';
@import '../global/functions';
@import '../global/vars';
@import '../global/mixins';
@import '../global/gridilydidily';
// @import '../global/flexboxgrid';
@import '../global/normalize';
@import '../global/zindex';
@import '../global/typography';

// Shared Partials //
// @import 'components/display-grid';
@import '../components/button';

// Website Partials //
@import 'components/appear';
@import 'components/upcoming-event';


.svg-load {
  display: none;
  visibility: hidden;
}

svg {
  display: inline-block;
  max-width: 100%;
}
