@keyframes rotate_down {
  from {
    transform: rotate3d(1,0,0,90deg) perspective(100000px) scale3d(1,1,.8);
  };
  to {
    transform: rotate3d(1,0,0,0deg) perspective(0px) scale3d(1,1,1);
  }
}

@keyframes grey_blue {
  from {
    color: #f5f5f5;
  }
  to {
    color: #337ab7;
  }
}

@keyframes fade_in {
  from {
    color: #fff;
    transform: rotatex(-90deg) perspective(200000px);
  }
  to {
    color: #000;
    transform: rotatex(0deg) perspective(200000px);
  }
}