$first-animation-duration: 1s;

.upcoming-event {
  animation: $first-animation-duration ease-in-out 0s rotate_down;
  animation-fill-mode: backwards;
  flex: 0 0 100%;
  justify-content: center;
  padding: 1em;
  transform-origin: 50% -1%;

  @media #{$baby-lap-up} {
    flex-basis: 50%;
  }

  @media #{$wall-up} {
    flex-basis: 33%;
  }

  &__header {
    background-color: #f5f5f5;
    line-height: 1.2;
    margin-bottom: .5em;
    padding: 1em;
  }

  &__name {
    animation: $first-animation-duration linear .5s grey_blue;
    animation-fill-mode: backwards;
    color: #337ab7;
    font-size: 1.5em;
    font-weight: bold;

    a {
      color: inherit;
    }
  }

  &__date {
    font-weight: bold;
    margin-bottom: .5em;
    text-align: right;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }

  &__info {
    animation: 1s ease-out $first-animation-duration fade_in;
    animation-fill-mode: backwards;
    padding: 1em;
    padding-top: .5em;
    transform-origin: center top;
  }

  &__more-info {
    display: block;
    text-align: right;
  }

  &__wrapper {
    padding: 1em;
    text-align: left;
  }
}

@for $i from 0 through 12 {
  .upcoming-event:nth-of-type(#{$i}n) {
    animation-delay: .25s * $i;

    .upcoming-event__info {
      animation-delay: (.9 * $first-animation-duration) + (.125s * $i);
    }

    .upcoming-event____name {
      animation-delay: (.9 * $first-animation-duration) + (.125s * $i);
    }
  }
}

